* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, serif;
    background: #262424;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 100vh;

    gap: 40px;
}

#Title {
    color: #f8f4ec;
    margin: 0;

    font-family: "Special Elite", serif;
    font-size: 6rem;
    letter-spacing: 0.1em;

    text-align: center;
}

.layout {
    display: flex;
    align-items: center;
    gap: 200px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 90px;
    width: 220px;
}

/* CONTROL PANELS */
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 14px;
    padding: 18px;

    color: #f8f4ec;

    background: linear-gradient(145deg, #ffffff, #8c8986 0.8);
    border: 2px solid rgba(30, 20, 15, 0.6);
    border-radius: 10px;

    box-shadow:
        0 20px 50px rgba(0,0,0,0.4),
        inset 0 0 0 2px rgba(255,255,255,0.08);
}

/* BUTTONS (Draw / Eraser / Clear) */
.controls button {
    width: 160px;
    padding: 12px 16px;

    background: rgba(248, 244, 236, 0.15);
    color: #f8f4ec;

    border: 1px solid rgba(248, 244, 236, 0.3);
    border-radius: 8px;

    font-family: "Special Elite", serif;
    font-size: 1.1rem;

    cursor: pointer;

    transition: 0.2s ease;
}

.controls button:hover {
    background: rgba(248, 244, 236, 0.25);
}

.controls button.active {
    background: #f8f4ec;
    color: #4A4040;
}


.controls h2 {
    margin: 0;
    font-family: "Special Elite", serif;
    font-size: 1.1rem;
    color: #f8f4ec;
}

/* SLIDER */
input[type="range"] {
    accent-color: #e1dddf;
    width: 140px;
}

#grid-value {
    font-family: "Special Elite", serif;
    color: #f8f4ec;
}

/* COLOR PICKER */
.color-swatch {
    width: 150px;
    height: 150px;

    border-radius: 50%;
    cursor: pointer;

    box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.4),
        0 8px 20px rgba(0, 0, 0, 0.3);
}

#color-picker {
    display: none;
}

/* EASEL */
.easel {
    padding: 20px;
    background: linear-gradient(145deg, #745a45, #9c7d5f);
    border-radius: 8px;

    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.25),
        inset 0 0 0 2px rgba(255, 255, 255, 0.08);
}

/* CANVAS  */
#container {
    width: 600px;
    height: 600px;

    display: grid;

    background: #f8f4ec;
    border: 2px solid #938b85;
}

.square {
    border: 1px solid rgba(62, 53, 44, 0.01);
}