* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
    margin-top: 30px;
}

/* Grid Container */
#container {
    width: 900px;
    height: 900px;

    border: 2px solid black;

    display: grid;
}

/* Grid Squares */
.square {
    border: 1px solid lightgray;
}